DATABASE_URL=
STACK_PROJECT_ID=
STACK_PUBLISHABLE_CLIENT_KEY=
DEMO_MODE=false
DEMO_ACCOUNT_PASSWORD=
PLATFORM_SIGNING_KEY=
PLATFORM_ISSUER=
PROFILE_SERVICE_SECRET=
NEXT_PUBLIC_WEBSITE_URL=https://citizen-website-demo.vercel.app
BANKING_URL=https://citizeninternetbanking-demo.vercel.app
APP_URL=https://citizenbankapp-demo.vercel.app
NEXT_PUBLIC_BANKING_URL=https://citizeninternetbanking-demo.vercel.app
